{% extends 'projects/projects_base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content_class %}detail_page_body{% endblock %}

{% block hero_image_alternate %}
    <img src="{% static 'img/projects.jpg' %}" class="hero_graphic"/>
{% endblock %}

{% block project_content %}
    {% if page.body %}
        {% for block in page.body %}
            {% include_block block with last=forloop.last %}
        {% endfor %}
        <div class="row_space_below"></div>
    {% endif %}    
{% endblock %}

{% block description %}
    {% if page.authors %}
        <div class="hero_copy text-white text-center">
            by
            {% for author in page.authors %}
                {% include_block author %}{% include "home/oxford_comma.html" %}
            {% endfor %}
        </div>
    {% elif page.author %}
        <div class="hero_copy text-white text-center">by {{ page.author }}</div>
    {% endif %}
{% endblock %}
