{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

<div class="video_list_item">
{% if video.listing_image %}
    {% image video.listing_image original as background %}
    <div class="video_list_item_graphic" style="background-image:url({{ background.url }})"></div>
{% else %}
    <div class="video_list_item_graphic" style="background-image:url({% static 'img/talks.jpg' %})"></div>
{% endif %}
    <div class="video_list_item_content">
        <a class="video_list_item_title" href="{{video.url}}">{{ video.title }}</a>
        {% if video.authors %}
            <div class="h2">by 
                {% for author in video.authors %}
                    {% include_block author %}{% include "home/oxford_comma.html" %}
                {% endfor %}
            </div>
        {% elif video.author %}
            <div class="h2">by {{ video.author|truncatechars:"45" }}</div>
        {% endif %}

        {% if video.tags %}
            <div>
                <i class="fa fa-sm fa-circle" role="presentation" aria-hidden="true"></i>
                <span class="text-uppercase">{{ video.tags }}</span>
            </div>
        {% else %}
            <div style="height: 40px"></div>
        {% endif %}


    </div>
</div>
