{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% block body_class %}video_list_page{% endblock %}
{% block hero %}
    <div class="content_container">
        <div class="video_list_header">
            <div class="video_list_title">
                {% if page.alternate_title %}{{ page.alternate_title }}{% else %}{{ page.title }}{% endif %}
            </div>
            <div class="video_list_copy">
                {{ page.copy|safe }}
            </div>
            {% if page.featured_video %}
                <div class="featured_video_link">
                        <div class="featured_video">
                            <div class="row">
                                <div class="col-12">
                                    <div class="featured_block d-flex d-md-none">
                                        Featured
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    {% if page.featured_video.listing_image %}
                                    {% image page.featured_video.listing_image original as background %}
                                    <div class="featured_video_graphic" style="background-image:url({{ background.url }})"></div>
                                    {% else %}
                                    <div class="featured_video_graphic" style="background-image:url({% static 'img/talks.jpg' %})"></div>
                                    {% endif %}
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="featured_video_content">
                                        <div class="featured_block d-none d-md-flex">
                                            Featured
                                        </div>
                                        <div>
                                            <a class="featured_video_title" href="{{ page.featured_video.url }}">
                                                {{ page.featured_video.title }}
                                            </a>
                                            {% if page.featured_video.authors %}
                                                <div class="h2">by
                                                    {% for author in page.featured_video.authors %}
                                                        {% include_block author %}{% include "home/oxford_comma.html" %}
                                                    {% endfor %}
                                                </div>
                                            {% elif page.featured_video.author %}
                                                <div class="h2">by {{ page.featured_video.author|truncatechars:"45" }}</div>
                                            {% endif %}
                                        </div>
                                        {% if page.featured_video.tags %}
                                            <div>
                                                <i class="fa fa-sm fa-circle" role="presentation" aria-hidden="true"></i>
                                                <span class="text-uppercase">{{ page.featured_video.tags }}</span>
                                            </div>
                                        {% else %}
                                            <div style="height: 30px"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row banner list">
        <div class="content_container">
                <div class="col-12 video_list">
                    <div class="content_container">
                        <div class="row">
                            {% for child in ordered_children.live.specific %}
                                <div class="col-12 col-sm-6 col-xl-4">
                                    {% include 'talks/video_list_item.html' with video=child %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
