{% extends 'home/base_page_with_hero.html' %}
{% load wagtailcore_tags %}
{% load static %}

{% block content_class %}detail_page_body{% endblock %}

{% block hero %}
<div class="container-fluid">
    <div class="row bg-primary video_page_background">
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center pullup_video_row">
    <div class="col-xs-12 col-lg-10 pullup_video_content">
        <h1 class="mb-5">
            {% if page.alternate_title %}{{ page.alternate_title }}{% else %}{{ page.title }}{% endif %}
            {% if page.authors %}
                <span class="mini_author"> by 
                    {% for author in page.authors %}
                        {% include_block author %}{% include "home/oxford_comma.html" %}
                    {% endfor %}
                </span>
            {% elif page.author %}<span class="mini_author"> by {{ page.author }}</span>
            {% endif %}
        </h1>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item mini_talks_video" src="{{page.video_url}}"></iframe>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 pl-5">
                {% if page.summary %}
                    {{ page.summary|richtext }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row_space_below"></div>
{% endblock %}
