<div class="card {{ value.text_alignment }}">
    {% if value.header %}
    <div class="card-header">
        {{ value.header }}
    </div>
    {% endif %}
    {%  if value.icon %}
    <div class="card-img-top">
        <i class="fa {{ value.icon }} {{ value.icon_size }}"></i>
    </div>
    {%  endif %}
    <div class="card-body">
        {%  if value.title %}
        <h{{ value.title_size }} class="card-title">
            {{  value.title }}
        </h{{ value.title_size }}>
        {%  endif %}
        {%  if value.body %}
        <div class="card-text">
            {{ value.body | safe }}
        </div>
        {%  endif %}
    </div>
    {%  if value.footer %}
    <div class="card-footer">
        {{ value.footer }}
    </div>
    {%  endif %}
</div>
