{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content_class %}detail_page_body{% endblock %}

{% block hero_image_alternate %}
    <img src="{% static 'img/events.jpg' %}" class="hero_graphic"/>
{% endblock %}

{% block content %}
    <div class="row">


    {% if page.header_image %}
        {% image page.header_image original as background %}
        <div class="event_page_hero_background" style="background-image: url({{ background.url }})">
    {% else %}
        <div class="event_page_hero_background" style="background-image: url({% static 'img/default-events-image.jpg' %})">
    {% endif %}
    <div class="col-12">

        <div class="content_container">
            <div class="event_page_hero">
                <div class="container">
                <div class="row" style="justify-content: center">
                    {% if page.alternate_title %}
                        <h1 align="center">
                            {{ page.alternate_title }}
                        </h1>
                    {% else %}
                        <h1 align="center">
                            {{ page.title }}
                        </h1>    
                    {% endif %}
                </div>
                <div class="row" style="justify-content: center">
                    <div class="event_page_hero_details">
                        {{ page.get_display_date  }}   |   {{ page.location }}   |   {{ page.city }}, {{ page.state_code }}
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="col-12">

    <div class="content_container">
        <div class="event_page_callout">
            <div style="margin: auto;">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="event_about">
                            <div class="d-none d-md-block about_title">About {{ page.title }}</div>
                            <div class="about_content">{{ page.summary|richtext }}</div>
                        </div>
                    </div>
                    <div class="d-none d-xl-block" style="border-left: 2px solid lightgrey;"></div>
                    <div class="col-12 col-xl-6" style="margin-left: -2px;">
                        <div class="event_info">
                            {% if page.website_link %}
                            <div class="event_website" style="display: flex; flex-direction: row; align-items: flex-start">
                                <img src="{% static 'svg/labs_conf_link.svg' %}" class="icon">
                                <div>
                                    <div class="info_title">Conference Website</div>
                                    <a href="{{ page.website_link }}" class="info_link">{{ page.website_link }}</a>
                                </div>
                            </div>
                            {% endif %}
                            <div class="event_location" style="display: flex; flex-direction: row; align-items: flex-start">
                                <img src="{% static 'svg/labs_conf_location.svg' %}" class="icon">
                                <div>
                                    <div class="info_title">Conference Location</div>
                                    <div class="info_content">{{ page.address|safe }}</div>
                                </div>
                            </div>
                            {% if page.registration_link %}
                            <a class="info_button" href="{{ page.registration_link }}">Register Now!</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% if page.event_presentations.all|length > 0 %}
        <div class="row presentation_banner">
            <div class="col-12">
                <div class="content_container">
                    <div class="presentation_big_title">
                        Here's what we are talking about!
                    </div>
                </div>
            </div>
        </div>
        <input id="open_id" value="" type="hidden"/>
        <div class="d-none d-xl-block">
            {% include "events/blocks/presentation.html" with presentation_rows=presentation_rows registration_link=page.registration_link %}
        </div>
        <div class="d-block d-xl-none">
            {% include "events/blocks/presentation_mobile.html" with presentations=presentations registration_link=page.registration_link %}
        </div>
        <div class="row presentation_banner">
            <div class="col-12">
                <div class="row_space_below"></div>
                <div class="row_space_below"></div>
            </div>
        </div>
        {% block extra_js %}
            <script type='text/javascript'>
                $('.presentation_large').click(function() {
                    id = $(this).attr('id')
                    expand_panel_selector = id.replace('presentation', '#expand_panel')
                    row_id = id.match(/\d+/)[0]
                    open = $('#open_id').val()

                    if (open) {
                        if (open.match(/\d+/)[0] == row_id){
                            if (open == expand_panel_selector) {
                                $('#open_id').val("");
                                $("#drawer_" + row_id).height(0);
                            }
                            else {
                                //change content
                                $('#open_id').val(expand_panel_selector); 
                                $("#drawer_" + row_id).find('.expand_panel').replaceWith($(expand_panel_selector).clone(true))
                                $("#drawer_" + row_id).height($("#drawer_" + row_id).find('.expand_panel').height() + 100);
                            }
                        }
                        else {
                            $('#open_id').val("");
                            $("#drawer_" + open.match(/\d+/)[0]).height(0);

                            //change content
                            $('#open_id').val(expand_panel_selector); 
                            $("#drawer_" + row_id).find('.expand_panel').replaceWith($(expand_panel_selector).clone(true))
                            $("#drawer_" + row_id).height($("#drawer_" + row_id).find('.expand_panel').height() + 100);
                        }
                    }
                    else {
                        //change content, open
                        $('#open_id').val(expand_panel_selector);
                        $("#drawer_" + row_id).find('.expand_panel').replaceWith($(expand_panel_selector).clone(true))
                        $("#drawer_" + row_id).height($("#drawer_" + row_id).find('.expand_panel').height() + 100);
                    }
                });

                $('.presentation_mobile').click(function() {
                    id = $(this).attr('id')
                    expander_selector = id.replace('presentation', '#expander')
                    if ($(expander_selector).height() > 0) {
                        $(expander_selector).height(0)
                    }
                    else {
                        $(expander_selector).height($(expander_selector).find('.expander_content').height() + 50);
                    }
                });
            </script>
        {% endblock %}
    {% endif %}

{% endblock %}

