{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
<a href="{{ event.url }}">
    <div class="event_list_item">
        {% if event.listing_image %}
        {% image event.listing_image original as background %}
        <div class="event_list_item_graphic" style="background-image:url({{ background.url }})"></div>
        {% else %}
        <div class="event_list_item_graphic" style="background-image:url({% static 'img/events.jpg' %})"></div>
        {% endif %}
        <div class="event_list_item_content">
            <div>
                <div class="event_list_item_date">
                    {{ event.get_list_display_date|upper }}
                </div>
                <div class="event_list_item_title">{{ event.title }}</div>
            </div>
            <div>
                <img src="{% static 'svg/labs_location_red.svg' %}" class="event_list_item_icon">
                <span class="event_list_item_location">{{ event.city }}, {{ event.state_code }}</span>
            </div>
        </div>

    </div>
</a>