{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}

{% block hero %}
    <div class="content_container">
        <div class="event_list_header">
            <div class="event_list_title">
                {% if page.alternate_title %}{{ page.alternate_title }}{% else %}{{ page.title }}{% endif %}
            </div>
            <div class="event_list_copy">
                {{ page.copy|safe }}
            </div>
            {% if page.featured_event %}
                <div class="featured_event_link">
                    <a href="{{ page.featured_event.url }}">
                        <div class="featured_event">
                            <div class="row">
                                <div class="col-12">
                                    <div class="featured_block d-flex d-md-none">
                                        Featured
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    {% if page.featured_event.listing_image %}
                                    {% image page.featured_event.listing_image original as background %}
                                    <div class="featured_event_graphic" style="background-image:url({{ background.url }})"></div>
                                    {% else %}
                                    <div class="featured_event_graphic" style="background-image:url({% static 'img/events.jpg' %})"></div>
                                    {% endif %}
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="featured_event_content">
                                        <div class="featured_block d-none d-md-flex">
                                            Featured
                                        </div>
                                        <div>
                                            <div class="featured_event_date">
                                                {{ page.featured_event.get_list_display_date|upper }}
                                            </div>
                                            <div class="featured_event_title">{{ page.featured_event.title|truncatechars:"45" }}</div>
                                        </div>
                                        <div>
                                            <img src="{% static 'svg/labs_location_red.svg' %}" class="featured_event_icon">
                                            <span class="featured_event_location">{{ page.featured_event.city }}, {{ page.featured_event.state_code }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row banner list">
        <div class="content_container">
                <div class="col-12 event_list">
                    <div class="content_container">
                        <div class="row">
                            {% for child in ordered_children.live.specific %}
                                <div class="col-12 col-md-6 col-xl-4">
                                    {% include 'events/event_list_item.html' with event=child %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
