{% extends "home/base_page_with_hero.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block hero %}
    <div class="header_background">
        <div class="content_container">
            <div class="hero_banner container-fluid" >
                {% if page.subject %}
                <div class="row">
                    <div class="col-12">
                        <div class="hero_subject text-white">{{ page.subject }}</div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="hero_title text-aqua font-weight-bold">
                        {% if page.alternate_title %}
                            {{ page.alternate_title }}    
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="horizontal_line bg-white"></div>
                    </div>
                </div>
                {% if page.about_us_title %}
                <div class="row">
                    <div class="col-12">
                        <div class="hero_copy_header text-white">{{ page.about_us_title }}</div>
                    </div>
                </div>

                {% endif %}
                {% if page.about_us_text %}
                <div class="row">
                    <div class="col-md-9 col-12">
                        <div class="hero_copy text-white">{{ page.about_us_text|richtext }}</div>
                    </div>
                </div>
                {% endif %}
               <div class="row pt-3 pt-md-5 justify-content-center">
                    <a href="#jump" class="btn border-white rounded-circle text-white jump">
                        <span class="sr-only">Jump to Content</span>
                        <i class="fa d-none d-md-inline-block fa-3x pt-1 fa-chevron-down"></i>
                        <i class="fa d-md-none d-inline-block fa-2x pt-1 fa-chevron-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<span id="jump"></span>
    {% for block in page.featured %}
        {% if block.block_type == 'event' %}
             {% include "events/blocks/event_mini.html" with event=block.value %}
        {% elif block.block_type == 'video' %}
             {% include "talks/blocks/talk_mini.html" with talk=block.value %}
        {% elif block.block_type == 'project' %}
             {% include "projects/blocks/project_mini.html" with project=block.value %}
        {% endif %}
    {% endfor %}

    {% include 'home/modules/rss_feed.html' with posts=posts %}
{% endblock %}
