{% load wagtailcore_tags %}

<div class="row row_space_below">
    <div class="col-12">
        <div class="content_container">
            <div class="content_block">
                <div style="overflow: scroll" row{% if last %} row_space_below{% endif %}">
                    {% include_block value.code %}
                </div>
            </div>
        </div>
    </div>
</div>