{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<div class="row detail_page_highlight">
    <div class="col-12">
        <div class="content_container">
            <div class="content_block">
                <div class="row{% if last %} row_space_below{% endif %}">
                    {% if value.image %}
                    {% image value.image original as background %}
                    <div class="col-lg-6 col-12 mb-5 align-self-center">
                        <img class="img-fluid mx-auto d-block" src="{{ background.url }}">
                    </div>
                    {% endif %}
                    <div class="{% if value.image %}col-lg-6{% endif %} col-12">
                        {{ value.text|richtext }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
