{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="row">
    <div class="col-12">
        <div class="content_container">
            <div class="content_block">
                <div class="row row_space_below{% if last %} row_space_below{% endif %}">
                    <div class="detail_page_paragraph col-12 {% if value.image %}col-lg-8{% endif %}">
                        {{ value.text|richtext }}
                    </div>
                    {% if value.image %}
                    {% image value.image original as background %}
                    <div class="col-12 col-lg-4 mt-3 align-self-center"> 
                        <img class="img-fluid mx-auto d-block" src="{{ background.url }}">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
