{% extends 'home/base_page_with_hero.html' %}
{% load wagtailimages_tags %}
{% load static %}

{%  block extra_css %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
    .row_space_below {
        padding-bottom: {{ settings.cic.CICSettings.padding_bottom_size }}rem;
    }
    #disclaimer {
        position: fixed;
        bottom: 0;
        z-index: 100;
    }
    #disclaimer-wrapper {
        overflow: hidden;
        transition: height 0.3s ease-out;
        box-sizing: border-box;
    }
    #disclaimer-wrapper.open {
        border-top: 1px solid rgb(220, 53, 69) !important;
    }
    #disclaimer-content {
        vertical-align: middle;
        font-size: {{  settings.cic.CICSettings.disclaimer_font_size }}rem;
    }
    #disclaimer-toggle {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block hero %}

<div id="disclaimer" class="w-100">
    <div id="disclaimer-toggle-wrapper" class="text-center">
        <div id="disclaimer-toggle" class="bg-danger text-light d-inline-block border-danger border-top border-left border-right rounded-top p-2">
            Disclaimer
        </div>
    </div>
    <div id="disclaimer-wrapper" class="bg-white open">
        <div id="disclaimer-content" class="p-2 text-center">
            {{ settings.cic.CICSettings.disclaimer | safe }}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row bg-primary pb-md-5">
        <div class="col-12 col-md-8 offset-md-2 py-3 py-md-5">
            <div class="d-flex flex-column align-items-center content_container hero_container py-2 pb-md-5">
                <h1 class="hero_title font-weight-bold text-white text-center mb-3">
                    {% if page.alternate_title %}{{ page.alternate_title }}{% else %}{{ page.title }}{% endif %}
                </h1>
                {% block description %}
                {% if page.description or page.sub_title.8 %}
                    <div class="hero_copy text-white text-center">
                        {% if page.description %}{{ page.description }}{% else %}{{ page.sub_title|safe }}{% endif %}
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row bg-transparent pullup">   
    <div class="content_container">
        {% comment %} 
            By default, an image sits in the pullup area to fill the space.
            If you do not want this, override pullup_image and use pullup_content
            instead of cic_content for the psage body
        {% endcomment %}
        {% block pullup_image %}
            {% if page.header_image %}
            {% image page.header_image original as background %}
            <div class="pullup_graphic" style="background-image:url({{ background.url }})"></div>
            {% else %}
            <div class="pullup_graphic" style="background-image:url({% static 'img/projects.jpg' %})"></div>
            {% endif %}
        {% endblock %}
        <div class="col-12 px-0 pt-3 p-md-5 bg-white">
        {%  if page.details_top %}
        {{  page.details_top|safe }}
        {%  endif %}
        {% block pullup_content %}
        {% endblock %}
        {%  if page.details_bottom %}
        {{  page.details_bottom|safe }}
        {%  endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
    {% block cic_content %}{% endblock %}
    </div>
</div>

{% endblock %}

{%  block extra_js %}
<script>
$(function() {
    let t = $('#disclaimer-toggle');
    let w = $('#disclaimer-wrapper');
    let c = $('#disclaimer-content');

    w.height(c.outerHeight(true));
    t.click(function() {
        if(w.hasClass('open')) {
            w.removeClass('open');
            w.height(0);
        } else {
            w.addClass('open');
            w.height(c.outerHeight(true));
        }
    })

});
</script>
{% endblock %}
