{% extends 'mini_base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block object-type %}project{% endblock %}

{% block mini-content %}
    <div class="col-12">
        <div class="content_container">
            <div class="row project_mini_section">
                <div class="col-12">
                    <img class="project_mini_img" src="{% static 'img/projects_we_love.jpg' %}">
                </div>
                <div class="col-12 col-md-6 mini_graphic_container px-0 px-md-2">
                    <div style="display: flex; flex-direction: column">
                        <div class="d-flex d-md-none project_mini_featured_banner">Featured</div>
                        <div class="d-none d-md-block project_mini_featured_rectangle">Featured</div>
                        {% if project.featured_image %}
                        {% image project.featured_image original class="mini_graphic project_mini_graphic" %}
                        {% else %}
                        <img src="{% static 'img/projects.jpg' %}" class="mini_graphic project_mini_graphic"/>
                        {% endif %}
                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <div class="project_mini_content">
                        <h2 class="project_mini_title">{{ project.title }}</h2>
                        <div class="mini_summary">
                            {{ project.summary|richtext }}
                        </div>
                        <a href="{{project.url}}"><div class="info_button">Learn More</div></a>
                    </div>
                </div>
                    
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center justify-content-md-start">
                    <div style="height: 30px"></div>
                    <a class="see_more_link" href="{{ project.get_parent.url }}">See more Projects</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
