//*-- primary
$coral_red:#E23E47;
$indigo_blue:#2D2E75;
$mid_blue: #1E8EB6;
$charcoal_grey: #35353E;
$dark_blue: #2D2375;

//*-- secondary
$aqua_blue: #98D7DA;
$mid_grey: #B4BCC2;
$bright_yellow: #FAD245;

//*-- grayscale
$black: #000000;
$light_grey:rgb(230, 230, 230);
$white: #FFFFFF;
$grey: #EEEEEE;