@import 'colors';
@import 'fonts';

.detail_page_body {
    background-color: #FFFFFF;
    color: $black;
    font-family: $muli_regular;

    h2 {
        font-size: 32px;
        color: $mid_blue;
    }

    h3 {
        font-size: 24px;
        color: $indigo_blue;
        font-weight: $light_weight;
    }

    p {
        line-height: 1.7em;
        font-size: 16px;
    }

    .content_block {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.detail_page_paragraph {
    padding-right: 45px;
}

.detail_page_pull_quote {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
    font-size: 18px;
    color: $coral_red;
}

.pull_quote_line {
    background-color: $mid_grey;
}

.detail_page_gallery_item {
    margin-top: 30px;
    margin-right: 30px;
}

.detail_page_highlight {
    font-family: $muli_regular;
    background-color: $grey;
    padding-bottom: 50px;
    margin-bottom: 50px;

    h2 {
        margin-bottom: 30px;
    }
}

.gallery_item {
    background-size: cover;
    background-position: center;
    height: 267px;
    background-origin: content-box;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.row_space_below {
    padding-bottom: 1rem;
}

.badge-skill,
.badge-interest {
    color: $charcoal-grey;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.badge-skill {
    background-color: #D6EFF0;
}

.badge-interest {
    background-color: #E1E4E7;
}

.profile-summary {
    line-height: 2;
}

.profile-content-item {
    background-color: #2D2E75;
}

.border-light-grey {
    background-color: #E1E4E7;
    border-color: #E1E4E7 !important;
}

@media (min-width: 576px) {
    .detail_page_pull_quote {
        font-size: 24px;
    }
}

@media (min-width: 768px) {

    .detail_page_body {
        .content_block {
            padding-right: 45px;
            padding-left: 45px;
        }

        h2 {
            font-size: 54px;
        }
    
        h3 {
            font-size: 32px;
        }
    }

    .detail_page_highlight {
        padding-top: 118px;
        padding-bottom: 118px;
        margin-bottom: 118px;
    }

    .row_space_below {
        padding-bottom: 5rem;
    }

    .detail_page_pull_quote {
        font-size: 36px;
    }

    .gallery_row {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.detail_page_image_container {
    display: flex;
    align-content: center;
    align-items: center;
}

@media (min-width: 992px){

    .detail_page_body {

        p {
            font-size: 18px;
        }

        .content_block {
            padding-right: 73px;
            padding-left: 73px;
        }
    }
}

@media (min-width: 1360px){
    .detail_page_body {

        p {
            font-size: 20px;
        }

        .content_block {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}
