.event_page_hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    color: $white;

    h1 {
        font-weight: $extra_bold_weight;
        font-size: 36px;
    }

    .event_page_hero_details {
        font-size: 14px;
    }
}

.event_list_header {
    padding-right: 15px;
    padding-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .event_list_title {
        font-size: 72px;
        font-weight: 800;
        color: $mid_blue;
    }

    .event_list_copy {
        line-height: 1.7rem;
        margin-bottom: 60px;
    }
}

.featured_event_link {
    a:hover {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
    width: 100%;

}

.featured_event {
    width: 100%;
    background-color: $grey;
    margin-bottom: 100px;

    .featured_block {
        background-color: $coral_red;
        color: $white;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: center;
        font-size: 22px;
        font-weight: 550;
    }

    .featured_event_graphic {
        background-size: cover;
        background-position: center;
        height: 200px;
        background-origin: content-box;
        background-repeat: no-repeat;
    }

    .featured_event_date {
        margin-bottom: 15px;
        font-size: 18px;
        color: $black;
    }

    .featured_event_location {
        font-size: 18px;
        color: $black;
    }

    .featured_event_title {
                
        @supports (-webkit-line-clamp: 2) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        overflow: hidden;
        text-overflow: ellipsis; 
        
        color: $indigo_blue;
        font-size: 32px;
        font-weight: 600;
    }

    .featured_event_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .featured_event_icon {
        height: 22px;
        margin-right: 10px;
    }
}

.event_list {
    padding-right: 15px;
    padding-left: 15px;

    a:hover {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .event_list_item_date {
        color: $black;
    }

    .event_list_item {
        background-color: $white;
        margin-bottom: 30px;
        font-family: $muli_regular;
        height: auto;
    }

    .event_list_item_graphic {
        background-size: cover;
        background-position: center;
        height: 250px;
        background-origin: content-box;
        background-repeat: no-repeat;
    }

    .event_list_item_content {
        height: 250px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .event_list_item_title {

        @supports (-webkit-line-clamp: 2) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        overflow: hidden;
        text-overflow: ellipsis; 
        font-size: 24px;
        color: $mid_blue;
        font-weight: 800;
    }

    .event_list_item_icon {
        height: 22px;
        margin-right: 10px;
    }

    .event_list_item_location {
        color: $black;
    }
}

.event_about {
    margin-bottom: 40px; 

    .about_title {
        font-size: 20px;
        font-weight: 500;
        color: $mid_blue;
        margin-bottom: 20px;
    }

}

.event_info {
    .info_title {
        font-weight: 500;
        font-size: 20px;
        color: $indigo_blue;
    }

    .info_link {
        font-size: 16px;
        text-decoration: none;
        color: black;
    }

    .info_content {
        p {
            font-size: 16px;
            line-height: 1em !important;
        }
    }

    .event_location {
        margin-bottom: 42px;
    }

    .event_website {
        margin-bottom: 30px;
    }

}

.event_page_hero_background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

.event_page_callout {
    padding-top: 50px;
    padding-bottom:60px;
    display: flex;
    justify-content: center;
}

.icon {
    height: 40px;
    margin-right: 15px;
}

@media (min-width: 600px) {
    .event_about {
        padding-right: 60px;
        padding-left: 60px;
    }

    .event_info {
        padding-right: 60px;
        padding-left: 60px;
    }

}

@media (min-width: 950px) {

    .event_page_hero {

        height: 500px;
    
        h1 {
            font-size: 64px;
        }
    
        .event_page_hero_details {
            font-size: 28px;
        }
    }

    .event_about {
        padding-right: 100px;
        padding-left: 100px;

        .about_title {
            font-size: 36px;
        }

        .about_content {
            line-height: 1.4em;
        }
    
    }
    
    .event_info {
        padding-right: 100px;
        padding-left: 100px;

        .info_title {
            font-size: 26px;
        }

        .info_link {
            font-size: 20px;
        }

        .info_content {
            p {
                font-size: 20px;
            }
        }
    }

    .icon {
        height: 60px
    }

    .event_list {
        padding-right: 30px;
        padding-left: 30px;
    }

    .event_list_header {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 768px){
    .featured_event {
        .featured_event_graphic {
            margin-right: 40px;
            height: 360px;
        }

        .featured_block {
            background-color: $coral_red;
            color: $white;
            width: 200px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            font-size: 22px;
            font-weight: 550;
        }

        .featured_event_content {
            height: 100%;
            padding-bottom: 40px;
            padding-top: 0px;
            padding-left: 0px;
        }

        .featured_event_title {
            color: $indigo_blue;
            font-size: 48px;
            font-weight: 600;
        }
    
    }
}

@media (min-width: 1360px){
    .event_page_hero {

        height: 720px;
    
        h1 {
            font-size: 108px;
        }
    
        .event_page_hero_details {
            font-size: 36px;
        }
    }

    .event_about {
        padding-right: 172px;

        .about_content {
            line-height: 1.7em;
        }

        .about_title {
            font-size: 42px;
        }
    }

    .event_info {
        padding-left: 172px;

        .info_title {
            font-size: 32px;
        }

        .info_link {
            font-size: 24px;
        }

        .info_content {
            p {
                font-size: 28px;
            }
        }

        .event_location {
            margin-bottom: 42px;
        }

        .event_website {
            margin-bottom: 30px;
        }

    }

    .icon {
        height: 80px;
    }

    .event_list {
        padding-right: 0px;
        padding-left: 0px;

        .event_list_item_title {
            font-size: 36px;
        }
    }

    .event_list_header {
        padding-right: 0px;
        padding-left: 0px;
    }
}
