@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$muli_regular: Muli, Arial;

$arial: Arial;

$helvetica: Helvetica;

$open_sans: 'Open Sans';

$light_weight: 300;
$bold_weight: 700;
$extra_bold_weight: 800;
$black_weight: 900;
