.hero_banner {
    background-color: rgba(255, 255, 255, 0) ;
    color: $black;
    font-family: $muli_regular;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 80px;
}

.header_background {
    background-position: right top;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 30px;
}

.hero_container {
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 768px) {

    .hero_banner {
        padding-bottom: 118px;
        padding-top: 118px;
    }

    .hero_container {
        padding-right: 60px;
        padding-left: 60px;
    }

    .header_background {
        background-position: right top;
        background-repeat: no-repeat;
        padding-left: 60px;
        padding-right: 60px;
    }
    
}

@media (min-width: 1360px) {

    .hero_banner {
        padding-right: 0px;
        padding-left: 0px;
    }

}

.hero_banner_with_graphic {
    background-color: #FFFFFF;
    color: $black;
    font-family: $muli_regular; 
}

.hero_copy_header {
    font-size: 18px;
    color: $charcoal_grey;
    font-weight: $extra_bold_weight;
}

.hero_copy {
    font-size: 16px;
    color: $charcoal_grey;
    margin-bottom: 20px;
}

.hero_graphic {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
  
.hero_date {
    font-size: 16px;
    color: $black;
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.space {
    padding-right: 10px;
}

.hero_banner_graphic {
    max-height: 590px;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.horizontal_line {
    width: 120px;
    height: 4px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 12px;
    display: block;
    // To style this line's color, 
    // use a separate bg color class.
}

.column_with_padding {
    padding-bottom: 36px !important;
    padding-right: 30px !important;
    padding-top: 50px !important;
    padding-left: 30px !important;
}
  
.column_with_right_padding {
    padding-bottom: 36px !important;
    padding-right: 30px !important;
    padding-top: 50px !important;
    padding-left: 30px !important;
}
  
@media (min-width: 768px) {
    .column_with_padding {
      padding-left: 130px !important;
      padding-bottom: 64px !important;
      padding-top: 120px !important; 
      padding-right: 30px !important;
    }
  
    .column_with_right_padding {
      padding-bottom: 64px !important;
      padding-right: 130px !important;
      padding-top: 120px !important;
      padding-left: 30px !important;
    }
  
}

.vertical_red_line {
    width: 0px;
    height: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}


.hero_title_flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-basis: auto;
    flex-direction: column;
}

.hero_description_flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.hero_subject {
    color: $indigo_blue;
    font-size: 20px;
    font-weight: $light_weight;
}

.hero_title {
    color: $dark_blue;
    font-size: 32px;
    color: $mid_blue;
}

.hero_date {
    display: flex;
    flex-direction: column;
}

.spacer {
    display: none;
}

@media (min-width: 768px) {
    .hero_copy {
        margin-bottom: 0px;
        line-height: 1.5em;
    }

    .header_background {
        background-image: url('/static/img/lightbulb.png');
    }
}

@media (min-width: 600px) {
    .hero_date {
        flex-direction: row;
    }

    .spacer {
        display: inline;
    }
}

@media (min-width: 768px) {
    .hero_subject {
        margin-bottom: -15px;
    }
}

@media (min-width: 992px) {
    .hero_subject {
        font-size: 32px;
    }

    .hero_copy {
        font-size: 20px;
        line-height: 1.5em;
    }

    .hero_copy_header {
        font-size: 20px;
        line-height: 1.5em;
    }

    .hero_container {
        padding-right: 88px;
        padding-left: 88px;
    }

    .hero_background {
        padding-right: 88px;
        padding-left: 88px;
    }
}

@media (min-width: 1200px) {
    .space {
        padding-right: 20px;
    }

    .vertical_red_line {
        border-left: 4px solid $coral_red;
        height: 125px;
        display: inline-block;
        margin-left: 60px;
        margin-right: 60px;
    }

    .hero_container {
        display: flex; 
    }

    .hero_title_flex {
        display: flex;
        flex-shrink: 1;
        align-items: flex-end;
        justify-content: center;
        flex-basis: auto;
        flex-direction: column;
    }
    
    .hero_description_flex {
        display: flex;
        flex-shrink: 1000000;
        flex-grow: 1;
        flex-basis: auto;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    .hero_copy {
        font-size: 24px;
        line-height: 1.7em;
    }

    .hero_copy_header {
        font-size: 24px;
        line-height: 1.7em;
    }

    .hero_title {
        font-size: 54px
    }

    .hero_date {
        font-size: 20px;
    }
}

@media (min-width: 1360px) {
    .hero_container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .hero_background {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 1500px) {
    
    .hero_title {
        font-size: 72px
    }

    .hero_title_60 {
        font-size: 60px
    }

    .vertical_red_line {
        margin-left: 90px;
        margin-right: 90px;
    }
}
