@import 'colors';
@import 'fonts';

.list {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: $grey;
    padding-bottom: 136px;
    overflow: hidden;

    .list_container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.list_item {
    background-color: $white;
    margin-bottom: 30px;
    font-family: $muli_regular;
    height: auto;

    a:hover {
        color: white;
        text-decoration: none;
    }
}

.list_item_graphic {
    background-size: cover;
    background-position: center;
    height: 0px;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
}

.list_item_title {
    font-size: 32px;
    color: $mid_blue;
}

.list_item_content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    height: fit-content;
    position: relative;
}

.list_item_body {
    font-size: 16px;
    height: fit-content;
    padding-bottom: 0px;
    margin-bottom: 90px;         
}

.button_container {
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
}

.button {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-weight: $extra_bold_weight;
    color: $white;
    background-color: $mid_blue;
    font-size: 20px;
    margin-bottom: 42px;
}

.list_item_button {
    @extend .button;
    border-radius: 8px;
    margin-top: 15px;
    min-height: 42px;
}



//sm and up
@media (min-width: 576px) {
    .calendar_date {
        padding-left: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // These probably belong elsewhere
    .event_list_item_header,
    .video_list_item_header {
        padding-left: 36px;
    }
}

//md and up
@media (min-width: 768px) {
    .list {

        .list_container {
            padding-left: 48px;
            padding-right: 48px;
        }

    }
}

//lg and up
@media (min-width: 992px) {

    .list_item {
        height: auto;
    }

    .list {
        padding-bottom: 136px;
    }

    .list_item {
        margin-bottom: 118px;
    }

    .list_item_content {
        padding-top: 42px;
    }
    
    .list_item_graphic {
        height: 100%
    }
}

@media (min-width: 1200px) {
    .list {

        .list_container {
            padding-left: 0px;
            padding-right: 0px;
        }

    }

    .list_item_body {
        font-size: 18px;
    }

    .list {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .list_item_title {
        font-size: 32px;
    }

    .list_item_content {
        padding-right: 60px;
        padding-left: 30px;
    }

}
