@import 'colors';
@import 'fonts';

//xs and up
.banner {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    min-height: 80px;

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: none; // Override all caps
        font-weight: $light_weight;
        color: $indigo_blue;
    }

    h2 {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 20px;
    }
        
    .line {
        width: 100%;
        background-color: $grey;
        display: block;
    }

    .more_button {
        width: 160px;
    }

    .talk_video {
        margin-bottom: 20px;
    }

    .mini_graphic_container {
        display: flex;
        align-items: center;
    }

    .mini_graphic {
        width: 100%;
        max-height: 540px;
        height: auto;
        object-fit: cover;
    }

    .mini_icon {
        color: $indigo_blue;
    }
}

.mini_author {
    color: $charcoal_grey;
    font-style: italic;
}

.mini_button {
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $extra_bold_weight;
}

.more_button {
    @extend .mini_button;
    color: $dark_blue;
    background-color: $white;
    border: 2px solid black;
    min-height: 42px;
    font-size: 16px;
}

.learn_more_button {
    @extend .mini_button;
    color: $white;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 360px;
    min-height: 48px;
    background-color: $mid_blue;
}

.mini_project {

    background-color: $white;
    min-height: 772px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: $white;

    h1 { 
        color: $white !important;
    }

    h2 {
        a {
            color: $bright_yellow;
        }
    }

    .project_mini_graphic {
        z-index: 1000;
    }

    .project_mini_img {
        padding-left: 0px;
        max-width: 100%;
        height: auto;
    }

    .project_mini_featured_rectangle {
        background-color: $coral_red;
        color: $white;
        font-size: 28px;
        padding-top: 15px;
        padding-left: 20px;
        position: absolute;
        top: -40px;
        left: -40px;
        height: 100%;
        width: calc(50% + 40px);
        z-index: 999;
    }

    .project_mini_featured_banner {
        background-color: $coral_red;
        color: $white;
        font-size: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .project_mini_content {
        padding-left: 0px;
        color: $black;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .project_mini_title {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        .mini_summary {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        a:hover {
            text-decoration: none;
        }
    }
}


.mini_talk {
    background-color: $light_grey;
    color: $charcoal_grey;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
    z-index: 1;

    .blue_bar {
        background-color: $mid_blue;
        height: 30px;
        width: 100%;
        top: -1px;
        left: 0;
        right: 0;
        z-index: 500;
        position: absolute;
    }

    .mini_talk_content_box {
        background-color: $light_grey !important;
        padding: 2rem 0rem 4rem 0rem;
        z-index: 1000;
        position: relative;

        .mini_talks_title {
            padding-left: 1rem;
            padding-right: 1rem;
        }
      
        & .row_space_below {
          padding-bottom: 0;
        }
    }

    .mini_talk_whitespace {
        top: -1px;
        left: 0;
        right: 0;
        height: 40%;
        width: 100%;
        background-color: $white;
        z-index: 500;
        position: absolute;
    }

    h2 {
        a {
            color: $mid_blue;
        }

        margin-bottom: 60px;
    }

    .mini_talks_title {
        color: $black;
        font-size: 36px;
    }

    .mini_summary {
        margin-top: 30px;
        font-size: 22px;
        padding-bottom: 30px;
    }

    .minis_button_container {
        width: 100%;
    }
    
}

.mini_event {
    background-color: $grey;
    color: $charcoal_grey;

    h2 {
        a {
            color: $mid_blue;
        }

        margin-bottom: 12px !important;
    }

    .event_mini_date {
        font-size: 20px;
        margin-bottom: 36px;
    }
}

.see_more_link {
    font-size: 28px;
    padding-top: 30px;
    color: $mid_blue;
    text-decoration: underline;
}

.see_more_link:hover {
    color: $mid_blue;
    text-decoration: underline;
}

//sm and up
@media (min-width: 576px) {
    .banner {

        h1 {
            font-size: 24px;
        }

        .more_button {
            width: 160px;
        }
    }


}

//md and up
@media (min-width: 768px) {


    .mini_project {
        padding-left: 60px !important;
        padding-right: 60px !important;


        .project_mini_content {
            padding-left: 100px;

            .project_mini_title {
                margin-left: 0px;
                margin-right: 0px;
            }

            .mini_summary {
                margin-top: 60px;
                margin-bottom: 60px;
            }
        }
    }

    .banner {
        padding-top: 118px;
        padding-bottom: 118px;
        min-height: 680px;
        padding-right: 60px;
        padding-left: 60px;

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 48px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .project_mini_graphic {
            margin-top: 30px;
        }
    }

    .talk_video {
        margin-bottom: 0%;
    }

    .mini_talks_title {
    }
}

@media (min-width: 992px) {

    .mini_talk {

        .mini_summary {
            margin-top: 0px;
        }

        .minis_button_container {
            position: absolute;
            bottom: 0px;
        }

        .mini_talk_content_box {
            background-color: $light_grey;
            padding: 2rem 6rem 4rem 6rem;
            z-index: 1000;
            position: relative;

            .mini_talks_title {
                padding-left: 0rem;
                padding-right: 0rem;
            }
            
            & .row_space_below {
                padding-bottom: 0;
            }
        }
        
    }
    .info_button {
        max-width: 75%;
    }

    .learn_more_button {
        margin-bottom: 0px;
    }

    .talk_video {
        padding-right: 60px;
    }

    .mini_summary {
        font-size: 18px;
        line-height: 1.5em;
    }

    .more_button {
        font-size: 18px;
    }

    .mini_button {
        font-size: 18px;
    }
}
@media (min-width: 1000px) {
    .mini_project {
        .project_mini_img {
            padding-left: 150px;
        }
    }
}

@media (min-width: 1200px) {
    .mini_talk {
        background-color: $mid_blue;
    }

    .mini_project {
        .project_mini_img {
            padding-left: 300px;
        }
    }

    .mini_summary {
        font-size: 20px;
        line-height: 1.7em;
    }

    .more_button {
        font-size: 20px;
    }

    .mini_button {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .mini_project {
        .project_mini_img {
            padding-left: 400px;
        }
    }

    .mini_graphic {
        padding-left: 0px;
    }

    .mini_talks_title {
        font-size: 36px;
    }
}