@import 'colors';
@import 'fonts';

.presentation_banner {
    background-color: $grey;
    padding-top: 36px;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 30px solid $white;
    margin: auto;
}

.presentation_big_title {
    font-size: 24px;
    color: $indigo_blue;
    font-weight: $bold_weight;
    padding-left: 30px;
    padding-right: 30px;
}

.presentation_expanded_title {
    font-size: 42px;
    color: $indigo_blue;
    font-weight: $extra_bold_weight;
    margin-top: 100px;
    margin-bottom: 45px;
}

.presentation_expanded_author {
    font-size: 32px;
    padding-bottom: 45px;
    color: $mid_blue;
}

.presentation_time_header {
    font-weight: 500;
    font-size: 32px;
    color: $indigo_blue;
}

.presentation_row {
    padding-left: 15px;
    padding-right: 15px;
}

.presentation {
    font-family: $muli_regular;
    min-height: 170px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $white;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .container {
        margin-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        height: 100%
    }

    .presentation_author {
        margin-top: 10px;
        font-size: 16px;
        color: $mid_blue;
    }

    .presentation_title {
        font-size: 18px;
        color: $indigo_blue;
        font-weight: $extra_bold_weight;
    }

    .presentation_graphic {
        background-size: cover;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}

.mobile_expander {
    height: 0;
    overflow: hidden;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    transition: height 1s;
    margin-top: -30px;
    background-color: $white;
}

.mobile_icon {
    padding-top: 0px;
    height: 40px;
    margin-right: 20px
}

.presentation_date_time {
    font-size: 18px;
}

.expander_content {
    padding-left: 15px;
    padding-right: 15px;
}

.expand_panel {
    margin-bottom: 60px;
}

.presentation_info {
    margin-bottom: 60px;
}

.drawer {
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
    height: 0;
}

.padding {
    padding-right: 45px;
    padding-left: 45px;
}

@media(min-width: 600px) {
    .presentation {
        .presentation_title {
            font-size: 24px;
        }

        .presentation_author {
            font-size: 24px;
        }
    }
}


@media (min-width: 768px){ 
    .presentation {
        margin-left: 10px;
        margin-right: 10px;
    }

    .mobile_expander {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 985px) {

    .presentation_date_time {
        font-size: 24px;
    }

    .presentation_big_title {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 42px;
    }

    .presentation_banner {
        padding-top: 60px;
    }

    .presentation {
        height: 280px;

        .container {
            padding-top: 54px;
            padding-bottom: 54px;
            padding-left: 36px;
            padding-right: 36px;
        }

    }

    .expander_content {
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media (min-width: 1200px) {

    .presentation_row {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }

}