/**
 Originally modified from _events.scss.
 Non-nested, non-video specific rules have been omitted, e.g., .icon.
 These rules should probably be migrated out of events in the future.
 **/
body.video_list_page {
    .list {
        background-color: $mid_blue;
    }
}

.flex-parent {
    display: flex;
    align-items: center;
    //max-height: 200px;
}

  
.long-and-truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video_page_hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    color: $white;

    h1 {
        font-weight: $extra_bold_weight;
        font-size: 36px;
    }

    .video_page_hero_details {
        font-size: 14px;
    }
}

.video_list_header {
    padding-right: 15px;
    padding-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .video_list_title {
        font-size: 72px;
        font-weight: 800;
        color: $mid_blue;
    }

    .video_list_copy {
        line-height: 1.7rem;
        margin-bottom: 60px;
    }
}

.featured_video_link {
    a:hover {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
    width: 100%;

}

.featured_video {
    width: 100%;
    background-color: $grey;
    margin-bottom: 100px;

    .featured_block {
        background-color: $coral_red;
        color: $white;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: center;
        font-size: 22px;
        font-weight: 550;
    }

    .featured_video_graphic {
        background-size: cover;
        background-position: center;
        height: 200px;
        background-origin: content-box;
        background-repeat: no-repeat;
    }

    .featured_video_date {
        margin-bottom: 15px;
        font-size: 18px;
        color: $black;
    }

    .featured_video_location {
        font-size: 18px;
        color: $black;
    }

    .featured_video_title {
                
        @supports (-webkit-line-clamp: 2) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        overflow: hidden;
        text-overflow: ellipsis; 
        
        color: $indigo_blue;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2em;
        margin-bottom: 15px;
    }

    .featured_video_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 288px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .featured_video_icon {
        height: 22px;
        margin-right: 10px;
    }
}

.video_list {
    padding-right: 15px;
    padding-left: 15px;

    a:hover {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .video_list_item_date {
        color: $black;
    }

    .video_list_item {
        background-color: $white;
        margin-bottom: 30px;
        font-family: $muli_regular;
        height: auto;
    }

    .video_list_item_graphic {
        background-size: cover;
        background-position: center;
        height: 288px;
        background-origin: content-box;
        background-repeat: no-repeat;
    }

    .video_list_item_content {
        height: 288px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;

        .h2 {
            font-size: 24px;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .video_list_item_title {
        @supports (-webkit-line-clamp: 2) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        overflow: hidden;
        text-overflow: ellipsis; 
        color: $mid_blue;
        font-weight: 800;
        font-size: 24px;
        
    }




    .video_list_item_icon {
        height: 22px;
        margin-right: 10px;
    }

    .video_list_item_location {
        color: $black;
    }
} 

.video_about {
    margin-bottom: 40px; 

    .about_title {
        font-size: 20px;
        font-weight: 500;
        color: $mid_blue;
        margin-bottom: 20px;
    }

}

.video_info {
    .info_title {
        font-weight: 500;
        font-size: 20px;
        color: $indigo_blue;
    }

    .info_link {
        font-size: 16px;
        text-decoration: none;
        color: black;
    }

    .info_content {
        p {
            font-size: 16px;
            line-height: 1em !important;
        }
    }

    .video_location {
        margin-bottom: 42px;
    }

    .video_website {
        margin-bottom: 30px;
    }

}

.video_page_hero_background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.video_page_callout {
    padding-top: 50px;
    padding-bottom:60px;
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .video_about {
        padding-right: 60px;
        padding-left: 60px;
    }

    .video_info {
        padding-right: 60px;
        padding-left: 60px;
    }

}

@media (min-width: 950px) {

    .video_page_hero {

        height: 500px;
    
        h1 {
            font-size: 64px;
        }
    
        .video_page_hero_details {
            font-size: 28px;
        }
    }

    .video_about {
        padding-right: 100px;
        padding-left: 100px;

        .about_title {
            font-size: 36px;
        }

        .about_content {
            line-height: 1.4em;
        }
    
    }
    
    .video_info {
        padding-right: 100px;
        padding-left: 100px;

        .info_title {
            font-size: 26px;
        }

        .info_link {
            font-size: 20px;
        }

        .info_content {
            p {
                font-size: 20px;
            }
        }
    }

    .video_list {
        padding-right: 30px;
        padding-left: 30px;
    }

    .video_list_header {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 768px){
    .featured_video {
        .featured_video_graphic {
            margin-right: 40px;
            height: 360px;
        }

        .featured_block {
            background-color: $coral_red;
            color: $white;
            width: 200px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            font-size: 22px;
            font-weight: 550;
        }

        .featured_video_content {
            height: 100%;
            padding-bottom: 40px;
            padding-top: 0px;
            padding-left: 0px;
        }

        .featured_video_title {
            color: $indigo_blue;
            font-size: 48px;
            font-weight: 600;
        }
    
    }
}

@media (min-width: 1360px){
    .video_page_hero {

        height: 720px;
    
        h1 {
            font-size: 108px;
        }
    
        .video_page_hero_details {
            font-size: 36px;
        }
    }

    .video_about {
        padding-right: 172px;

        .about_content {
            line-height: 1.7em;
        }

        .about_title {
            font-size: 42px;
        }
    }

    .video_info {
        padding-left: 172px;

        .info_title {
            font-size: 32px;
        }

        .info_link {
            font-size: 24px;
        }

        .info_content {
            p {
                font-size: 28px;
            }
        }

        .video_location {
            margin-bottom: 42px;
        }

        .video_website {
            margin-bottom: 30px;
        }

    }
    
    .video_list {
        padding-right: 0px;
        padding-left: 0px;
        
        .video_list_item_title {
            height: 108px;
            font-size: 36px;
        }

        .h2 {
            font-size: 36px;
        }
    }

    .video_list_header {
        padding-right: 0px;
        padding-left: 0px;
    }
}
