@import 'colors';
@import 'fonts';
@import 'minis';
@import 'detail_pages';
@import 'list_pages';
@import 'presentations';
@import 'heros';
@import 'events';
@import 'videos';

body {
  margin: 0;
  padding: 0;
  font-family: $muli_regular, sans-serif;
}

// html, body, and body_wrapper settings to
// lock the footer to the bottom of the page.
html, body {
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.richtext-image {
  max-width: 100%;
}

.header {
  background-color: $white;

  .navbar-brand {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .navbar {
    width: 100%;
  }

  .excella-labs-logo {
    max-width: 400px;
    padding-top: 0px;
  }

}

@media (min-width: 1360px){
  .header {
    .excella-labs-logo {
      margin-left: -40px;
    }
  }
}

.content_container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0; 

    .excella-labs-logo {
      max-width: 175px;
    }
  }
}

.rss_feed {
  padding-right: 130px;
  padding-left: 130px;
  padding-bottom: 64px;
}

.info_button {
  text-decoration: none;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-weight: $extra_bold_weight;
  color: $white;
  background-color: $coral_red;
  font-size: 28px;
  border-radius: 10px;
  min-height: 68px;
}

.info_button:hover {
  text-decoration: none;
  color: $white;
}

.nav-link {
  margin-right: 2em;
  font-size: 18px;
  font-family: $muli_regular;
  font-weight: $extra_bold_weight;

  &:last-of-type {
    margin-right: 0;
  }

  & i.fab {
    font-size: 32px;

    &:hover {
      color: $black;
    }
  }

  & a {
    color: $black !important;
  }
}

h3, h3 a {
  font-size: 1.75rem;
  padding-bottom: 15px;
  font-weight: bold;
}

h4, h4 a {
  font-size: 1.5rem;
  font-weight: bold;
}

h5, h5 a {
  font-size: 1.25rem;
  font-weight: bold;
}

h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus,
h3 a:hover, h3 a:focus,
h4 a:hover, h4 a:focus,
h5 a:hover, h5 a:focus {
  text-decoration: none;
}

.excellaEvent {
  font-family: $muli_regular, $open_sans, sans-serif;
}

.template-homepage {
    .header_background {
        background-image: url("/static/img/home-banner.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

.btn {
  font-size: 1.25rem; 
  &.rounded-2x {
    border-radius: 0.5rem !important; // Overrides important bootstrap rules
  }
  &.jump {
    border-width: 4px;
  }
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

.btn-primary {
  background-color: $mid_blue;
  border-color: $mid_blue;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgba(93,135,161,0.8);
  border-color: rgba(93,135,161,0.8);
}

/* This would better be accomplished by compiling the bootstrap sass ourselves */
.bg-primary {
  background-color: $mid_blue !important; // Overrides important bootstrap rules
}

/* We may be able to loop over our colors and create these dynamically */
.bg-lightgrey {
  background-color: $light_grey !important;
}

.bg-darkblue {
  background-color: $dark_blue;
}

.text-aqua {
  color: $aqua_blue !important;
}

.text-indigo {
  color: $indigo_blue !important;
}

.text-red {
  color: $coral_red !important;
}

.text-white a {
  color: $white;
  font-weight: 600;
  font-style: italic;
}

.badgeMargin {
  margin-bottom: 2em;
}

.well {
  border: none !important;
}

.section-link, .eventMoreLink {
  color: $mid_blue;
}

h3, h4 {
  a:hover {
    color: $bright_yellow;
  }
}

.link-block {
  text-align: right;

  & .fa-twitter, .fa-facebook-f, .fa-github {
    color: $white;
    margin-left: 1.5em;

    &:hover {
      color: $aqua_blue;
    }
  }
}

.excellaLink {
  font-size: 18px;
  color: $aqua_blue;

  &:hover {
    color: $aqua_blue;
  }
}

input {
  color: $charcoal_grey;
}

.hero {
  height: 300px;
  background-color: $indigo-blue;
  padding-top: 75px;
}

.hero-subject {
  color: $bright_yellow;
  font-size: 20px;
  font-weight: 200;
}

.hero-title {
  color: $white;
  font-size: 38px;
  font-weight: 600px;
}

.hero-byline {
  color: $aqua_blue;
  font-size: 20px;
  font-weight: 200;

}

.pullup_graphic {
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    min-height: 10rem;
}


/* -----------------------------------------
 * Video Page 
 * ---------------------------------------*/
 
.video_page_background {
  height: 36em;
}

.pullup_video_row {
  margin-top: -30rem;
}

.pullup_video_content {
  background-color: #EEEEEE!important;
  padding: 2rem 6rem 4rem;

  & .row_space_below {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
    .pullup { // Currently used to put project body over hero
        margin-top: -7.5rem;
    }
    .pullup_graphic {
        min-height: 20rem;
    }
}

.footer {
  background-color: #353535;
  padding: 4em 0;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;

  & .container-fluid {
    padding-top: 0;
  }

  & .excella-opportunities {
    margin-top: 35px;
    
    h6 {
      margin-bottom: 0px;  
    }

    a {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.2;
      display: block;
      color: $aqua_blue;

      &:hover {
        color: $aqua_blue;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.emailLabel {
  font-size: 18px;
  font-family: $muli_regular;
}

.emailInput {

  max-width: 380px;
  height: 38px;
  margin-right: 0%;
}

.mini_label {
  font-size: 18px;
  font-weight: $bold_weight;
}

.list-item .mini {
  .title:before {
    content: none;
  }

  .list-link {
    display: none;
  }
}

.footerSubscribe {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    width: 160px;
    height: 48px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

.detail {
  color: $charcoal_grey;
  margin-bottom: 2.5em;

  h3 {
    margin-bottom: 0.75em;
  }

  h3 span {
    padding-bottom: 5px;
    border-bottom: 2px dashed $light_grey;
  }
}
