{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

<div class="list_item pt-3 p-md-5 bg-lightgrey">
    <div class="row">
        <div class="col-12 col-lg-6">
            {% block graphic %}
            {% if item.listing_image %}
                {% image item.listing_image original as background %}
                <div class="list_item_graphic" style="background-image:url({{ background.url }})"></div>
            {% else %}
                <div class="list_item_graphic" style="background-image:url({% static 'img/projects.jpg' %})"></div>
            {% endif %}
            {% endblock %}
        </div>
        <div class="col-12 col-lg-6">
            <div class="list_item_content pt-1">
                <h2 class="font-weight-bold text-indigo">
                    {{ item.title|truncatechars:"75" }}
                </h2>
                <div class="list_item_body mb-5">
                    {{ item.summary|truncatechars:380|richtext }}
                </div>
            </div>
            <div class="px-5 pl-md-4 mb-3">
                <a class="btn btn-danger bg-coral btn-lg btn-block rounded-2x" href="{{ item.url }}">Learn More</a>
            </div>
        </div>
    </div>
</div>
