{% extends 'home/base_page_with_hero.html' %}
{% load wagtailimages_tags %}
{% load static %}

{% block hero %}
<div class="container-fluid">
    <div class="row bg-primary pb-md-5">
        <div class="col-12 col-md-8 offset-md-2 py-3 py-md-5">
            <div class="d-flex flex-column align-items-center content_container hero_container py-2 pb-md-5">
                <h1 class="hero_title font-weight-bold text-white text-center mb-3">
                    {% if page.alternate_title %}{{ page.alternate_title }}{% else %}{{ page.title }}{% endif %}
                </h1>
                {% block description %}
                {% if page.description or page.copy.8 %}
                    <div class="hero_copy text-white text-center">
                        {% if page.description %}{{ page.description }}{% else %}{{ page.copy|safe }}{% endif %}
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row bg-transparent pullup">   
    <div class="content_container">
        {% comment %} 
            By default, an image sits in the pullup area to fill the space.
            If you do not want this, override pullup_image and use pullup_content
            instead of project_content for the page body
        {% endcomment %}
        {% block pullup_image %}
            {% if page.header_image %}
            {% image page.header_image original as background %}
            <div class="pullup_graphic" style="background-image:url({{ background.url }})"></div>
            {% else %}
            <div class="pullup_graphic" style="background-image:url({% static 'img/projects.jpg' %})"></div>
            {% endif %}
        {% endblock %}
        <div class="col-12 px-0 pt-3 p-md-5 bg-white">
        {% block pullup_content %}
        {% endblock %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
    {% block project_content %}{% endblock %}
    </div>
</div>
{% endblock %}

