{% extends 'mini_base.html' %}
{% load wagtailcore_tags %}
{% load static %}

{% block object-type %}talk{% endblock %}

{% block mini-content %}
    <div class="mini_talk_whitespace d-none d-xl-block"></div>
    <div class="blue_bar d-block d-xl-none"></div>
    <div class="col-12">
        <div class="content_container">
            <div class="row mini_talk_content_box">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-5 mini_talks_title">{{ talk.title }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-8 px-0 px-lg-4">
                            <div class="mini_talk_video embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item mini_talks_video" src="{{ talk.video_url }}"></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 px-5 px-lg-4">
                            <div class="mini_summary">{{ talk.summary|truncatechars:200|richtext }}</div>
                            <div class="minis_button_container"><a href="{{ talk.url }}" class="info_button">Learn More</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-lg-left text-center">
                            <div style="height: 30px"></div>
                            <a class="see_more_link" href="{{ talk.get_parent.url }}">More Talks</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
