{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% for row in presentation_rows %}
    <div class="row presentation_banner">
        <div class="col-12">
            <div class="presentation_row">
                <div class="content_container">        
                    <div class="row">
                        {% for presentation in row %}
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="row presentation presentation_large"  id="presentation_{{forloop.parentloop.counter0}}_{{forloop.counter0}}" style="cursor:pointer">
                                    <div class="col-12 container">
                                        <div class="content">
                                            <div class="presentation_title">
                                                {{ presentation.title|truncatechars:70 }}
                                            </div>
                                            {% if presentation.presenters %}
                                                <div class="presentation_author"><span style="color: black">By </span>
                                                    {% for presenter in presentation.presenters %} 
                                                    <span class="presentation_author">{% include_block presenter %}</span>{% include "home/oxford_comma.html" %}
                                                    {% endfor %}
                                                </div>
                                            {% elif presentation.author %}
                                                <div class="presentation_author"><span style="color: black">By </span>
                                                    <span class="presentation_author">{{ presentation.author }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for presentation in row %}
    <div style="display: none">
        <div class="expand_panel" id="expand_panel_{{forloop.parentloop.counter0}}_{{forloop.counter0}}">
            <div class="row" style="background-color: #EEEEEE;">
                <div class="col-12">
                    <div class="content_container">
                        <div class="row">
                            <div class="col-4">
                                {% if forloop.counter0 == 0 %}<div class="triangle"></div>{% endif %}
                            </div>
                            <div class="col-4">
                                {% if forloop.counter0 == 1 %}<div class="triangle"></div>{% endif %}
                            </div>
                            <div class="col-4">
                                {% if forloop.counter0 == 2 %}<div class="triangle"></div>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="content_container padding">        
                    <div class="row">
                        <div class="col-12" style='background-color: white;'>
                            <div class="row">
                                <div class="presentation_expanded_title">
                                    {{ presentation.title }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-4" style="padding-right: 90px; margin-right: -61px">
                                        <div class="row">
                                            <div>
                                            {% if presentation.presenters %}
                                            <div class="presentation_expanded_author"><span style="color:black">By </span>
                                                {% for presenter in presentation.presenters %} 
                                                    {% include_block presenter %}{% include "home/oxford_comma.html" %}
                                                {% endfor %}
                                            </div>
                                            {% elif presentation.author %}
                                            <div class="presentation_expanded_author">
                                                <span style="color:black">By </span>{{ presentation.author }}
                                            </div>
                                            {% endif %}
                                            <div style="display: flex; flex-direction: row; align-items: flex-start">
                                                {% if presentation.presentation_dates.all|length > 0 %}
                                                <img src="{% static 'svg/labs_time_of_presentation.svg' %}" style="padding-top: 0px; height: 60px; margin-right: 20px">
                                                <div class="presentation_info">
                                                    {% if presentation.presentation_dates.all|length == 1 %}
                                                    <div class="presentation_time_header">Presentation time</div>
                                                    <div class="presentation_date_time">
                                                        {{ presentation.presentation_dates.first.date_time|date:"F jS" }}
                                                    </div>
                                                    <div class="presentation_date_time">
                                                        {{ presentation.presentation_dates.first.date_time|time:"g:ia" }}
                                                    </div>
                                                    {% else %}
                                                    <div class="presentation_time_header">Presentation times</div>
                                                    {% for datetime in presentation.presentation_dates.all %}
                                                        <div class="presentation_date_time">
                                                            {{ datetime.date_time|date:"F jS g:ia" }}
                                                        </div>
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                                {% endif %}
                                            </div>
                                            <a class="info_button" href="{{ registration_link }}">Register Now!</a>
                                            </div>
                                        </div>
                                </div>
                                <div style="right:0; margin-right: 60px; margin-left: 60px; margin-top: 15px; margin-bottom: 15px; border-left: 2px solid lightgrey;"></div>

                                <div class="col-8" style="padding-left: 90px; margin-left: -61px">
                                    <div class="presentation_expanded_summary">{{ presentation.summary|richtext }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="drawer" id="drawer_{{forloop.counter0}}" style="margin-right: -15px; margin-left: -15px">
        <div id="child" class="expand_panel">

        </div>
    </div>

{% endfor %}

