{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
<div class="row presentation_banner">
    <div class="col-12">
        <div class="presentation_row">
            <div class="content_container">        
                <div class="row">
                    {% for presentation in presentations %}
                        <div class="col-12 presentation_mobile" id="presentation_{{ forloop.counter0 }}" >
                            <div class="row presentation" style="cursor:pointer">
                                <div class="col-12">
                                    <div class="container">
                                        <div class="content">
                                            <div class="presentation_title">
                                                {{ presentation.title|truncatechars:70 }}
                                            </div>
                                            {% if presentation.presenters %}
                                                <div class="presentation_author"><span style="color: black">By </span>
                                                    {% for presenter in presentation.presenters %} 
                                                    <span class="presentation_author">{% include_block presenter %}</span>{% include "home/oxford_comma.html" %}
                                                    {% endfor %}
                                                </div>
                                            {% elif presentation.author %}
                                            <div class="presentation_author"><span style="color: black">By </span>
                                                <span class="presentation_author">{{ presentation.author }}</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>                               
                            </div> 
                            <div class="row mobile_expander" id="expander_{{ forloop.counter0 }}">
                                <div class="col-12">
                                    <div class="expander_content">
                                        <div style="display: flex; flex-direction: row; align-items: flex-start">
                                            <img src="{% static 'svg/labs_time_of_presentation.svg' %}" class="mobile_icon">
                                            <div class="presentation_info">
                                                <div class="presentation_date_time">
                                                    {{ presentation.start_time|date:"F jS" }}
                                                </div>
                                                <div class="presentation_date_time">
                                                    {{ presentation.start_time|time:"g:ia" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="presentation_expanded_summary">{{ presentation.summary|richtext }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

