{% extends 'base.html' %}

{% block content %}
    <div class="content_container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Creator</th>
                            <th scope="col">Live</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for draft in drafts %}
                            <tr>
                                <td>{{ draft.title }}</td>
                                <td>{{ draft.status }}</td>
                                <td>{{ draft.owner.first_name }} {{ draft.owner.last_name }}</td>
                                <td>{% if draft.live %}<a href="{{ draft.url }}">View Live</a>{% else %} --- {% endif %}</td>
                            </tr>
                        {% empty %}
                            <h1>No unpublished changes right now.</h1>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
