{% extends "home/base_page_with_hero.html" %}
{% load static %}

{% block hero %}
<div class="container-fluid bg-darkblue py-5">
    <div class="row">
        <div class="content_container hero_container my-3">
            <div class="col-12 text-center">
                <h1 class="hero_title font-weight-bold text-warning mb-3">
                    {{ settings.people.PeoplePagesSettings.title }}
                </h1>
                {% block description %}
                {% if settings.people.PeoplePagesSettings.description %}
                    <div class="hero_copy text-white">
                        {{ settings.people.PeoplePagesSettings.description|safe }}
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content_container my-5">
    <div class="row">
        {% for profile in profiles %}
        <div class="col-md-3 mb-3">
            <div class="card h-100 border-0">
                {% if profile.avatar_url %}
                <a href="{{ profile.url }}">
                    <img 
                        class="card-img-top" 
                        src="{{ profile.avatar_url }}" 
                        alt="A picture of {{ profile.contributor.user.get_full_name }}">
                    <hr class="mb-1 mt-0 pb-1 border border-light-grey">
                </a>
                {% endif %}
                <div class="card-body text-center text-sm-left pt-2">
                    <h4 class="card-title text-red mb-0">
                        <a class="text-red" href="{{ profile.url }}">
                        {{ profile.people_page_model.user.get_full_name }}
                        </a>
                    </h4>
                    {% if profile.people_page_model.role_at_excella %}
                    <div class="card-text">
                        {{ profile.people_page_model.role_at_excella }}
                    </div>
                    {% endif %}
                    {% if profile.people_page_model.area_of_expertise %}
                    <div class="card-text">
                        {{ profile.people_page_model.area_of_expertise }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
