{% extends 'home/base_page_with_hero.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block hero %}
<div class="container-fluid bg-darkblue">
    <div class="content_container hero_container">
        <div class="row align-items-end">
            {% if profile.user.wagtail_userprofile.avatar %}
            <div class="col-12 col-md-4">
                <img 
                    class="img-fluid" 
                    src="{{ profile.user.wagtail_userprofile.avatar.url }}" 
                    alt="A picture of {{ profile.user.get_full_name }}">
            </div>
            {% endif %}
            <div class="col-12 {% if profile.user.wagtail_userprofile.avatar %}mb-5 py-3 py-md-2 py-lg-4 col-md-7 offset-md-1{% else %} my-3{% endif %}">
                <h1 class="hero_title hero_title_60 text-white text-left text-uppercase mb-0 font-weight-bold">
                    {{ profile.user.get_full_name }}
                </h1>
                {% if profile.headline %}
                <div class="lead text-white text-left">
                    {{ profile.headline }}
                </div>
                {% endif %}
                <div class="d-flex mt-3 mt-md-4 mt-lg-5 justify-content-left">
                    {% if profile.facebook %}
                    <a href="{{ profile.facebook }}" class="btn btn-circle bg-white text-info m-1">
                        <i class="fab fa-facebook-f"></i><span class="sr-only">Facebook Profile</span>
                    </a>
                    {% endif %}
                    {% if profile.twitter %}
                    <a href="https://twitter.com/{{ profile.twitter|urlencode }}" class="btn btn-circle bg-white text-info m-1">
                        <i class="fab fa-twitter"></i><span class="sr-only">Twitter</span>
                    </a>
                    {% endif %}
                    {% if profile.linkedin %}
                    <a href="{{ profile.linkedin }}" class="btn btn-circle bg-white text-info m-1">
                        <i class="fab fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                    </a>
                    {% endif %}
                    {% if profile.instagram %}
                    <a href="https://instagram.com/{{ profile.instagram|urlencode }}" class="btn btn-circle bg-white text-info m-1">
                        <i class="fab fa-instagram"></i><span class="sr-only">Instagram</span>
                    </a>
                    {% endif %}
                    {% if profile.github %}
                    <a href="https://github.com/{{ profile.github|urlencode }}" class="btn btn-circle bg-white text-info m-1">
                        <i class="fab fa-github"></i><span class="sr-only">GitHub</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content_container my-5">
    <div class="row py-5 align-items-center">
        {% if profile.skills.count or profile.interests.count %}
        <div class="col-sm-6 col-md-4">
            {% if profile.skills.count %}
            <div class="mb-5">
                <h3 class="h5 font-weight-bold">Skills</h3>
                <ul class="list-inline h5">
                    {% for skill in profile.skills.all %}
                    <li class="list-inline-item badge badge-skill p-3">{{ skill.text }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if profile.interests.count %}
            <div>
                <h3 class="h5 font-weight-bold">Other Interests</h3>
                <ul class="list-inline h5">
                    {% for interest in profile.interests.all %}
                    <li class="list-inline-item badge badge-interest p-3">{{ interest.text }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="col-{% if profile.skills.count or profile.interests.count %}sm-6 col-md-6 offset-md-2{% else %}12{% endif %}">
            <h3 class="sr-only">Summary</h3>
            <span class="profile-summary">{{ profile.summary|safe }}</span>
        </div>
    </div>
    {% if profile.certifications %}
    <div class="container">
    <div class="row">
        <div class="col-12">
            <hr class="mb-5 mt-0 pb-1 border border-light-grey">
            <h3 class="h5 font-weight-bold pt-3">Certifications</h3>
            <div class="row">
            {% for peoplecert in profile.certifications.all %}
            {% with cert=peoplecert.certification %}
                <div class="col-md-4 mb-3 d-flex align-items-center">
                    {% if peoplecert.badge_url %}
                    <a href="{{ peoplecert.badge_url }}">
                    {% endif %}
                    {% image cert.badge_image max-70x70 class="img-fluid" alt="Certification Badge" %}
                    {% if peoplecert.badge_url %}
                    </a>
                    {% endif %}
                    <span class="ml-2 pb-1">{{ cert }}</span>
                </div>
            {% endwith %}
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% if contributions %}
    <div class="row">
        <div class="col-12">
            <hr class="mb-5 pb-1 border border-light-grey">
            <h3 class="mt-5">See what else {{ profile.user.first_name }} has been up to!</h3>
            <div class="row">
                <div class="card-columns">
                    {% for contribution in contributions %}
                    <div class="card profile-content-item text-white">
                        <!-- <img src="{% static 'img/events.jpg' %}" class="card-img" alt="..."> -->
                        <div class="card-body">
                            {% if contribution.event %}
                            <a href="{{ contribution.event.url }}" class="p-4"> 
                                <h5 class="card-title">{{ contribution.event }}</h5>
                                <p class="card-text">{{ contribution.event.get_display_date }}</p>
                                <p class="card-text">{{ contribution.event.content_type }}</p>
                            </a>
                            {% else %}
                            <a href="{{ contribution.url }}" class="p-4"> 
                                <h5 class="card-title">{{ contribution }}</h5>
                                <p class="card-text">{{ contribution.content_type }}</p>
                            </a>
                            {% endif%}
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-4">
                        <a href="{{ contribution.url }}" class="p-4">    
                            <div class="">{{ contribution }}</div>
                            <div>
                                <span class="event_list_item_location">{{ contribution.content_type }}</span>
                            </div>
                        </a>
                    </div> -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- <div class="row">
        <div class="col-12">
            <h3 class="mt-5">See what else {{ profile.user.first_name }} has been up to!</h3>
            <div class="btn-toolbar justify-content-sm-between" role="toolbar">
                <div class="btn-group btn-group-sm btn-group-toggle flex-grow-1 justify-content-center flex-sm-grow-0 mb-2 mb-sm-0" 
                     data-toggle="buttons">
                    <label class="btn btn-light border-secondary active">
                        <input type="radio" name="contribFilter" value="" autocomplete="off" checked>
                        Show All
                    </label>
                    <label class="btn btn-light border-secondary">
                        <input type="radio" name="contribFilter" value="videos" autocomplete="off">
                        <span class="sr-only">Only</span> Videos
                        <i class="fas fa-xs fa-filter" role="presentation" aria-hidden="true"></i> 
                    </label>
                    <label class="btn btn-light border-secondary">
                        <input type="radio" name="contribFilter" value="talks" autocomplete="off">
                        <span class="sr-only">Only</span> Presentations
                        <i class="fas fa-xs fa-filter" role="presentation" aria-hidden="true"></i> 
                    </label>
                    <label class="btn btn-light border-secondary">
                        <input type="radio" name="contribFilter" value="articles" autocomplete="off">
                        <span class="sr-only">Only</span> Blogs
                        <i class="fas fa-xs fa-filter" role="presentation" aria-hidden="true"></i> 
                    </label>
                </div>
                <div class="input-group input-group-sm flex-grow-1 flex-sm-grow-0">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fa fa-search" role="presentation" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" style="text-indent: -1.5rem;"
                           class="form-control border-left-0 text-center"
                           aria-label="Search the contributor's posts"
                           placeholder="Search for content">
                </div>
            </div>
        </div>
    </div> -->
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}